<div ng-show="!edit">
    <div class="col-md-3">
        <a ng-href="/profiles/{{news.posted_by.id}}">
            <img ng-src="{{news.posted_by.image_url}}" class="profile-img img-rounded"></a>
        <a ng-href="/profiles/{{news.posted_by.id}}">
            <h4><strong>{{news.posted_by.name || news.posted_by.email}}</strong></h4></a>
    </div>
    <div class="col-md-9">
        <div class="profile-details">
            <a ng-click="flagPost(news.id);" href="" class="pull-right"><i class="fa fa-flag-o" title="flag as abuse"/> 
                {{'FLAG' | translate}}</a>
            <h2>{{news.title}}</h2>
            <h5><small>{{'POSTED_ON' | translate}} {{news.posted | date:medium}}</small></h5>
            <div class="text-muted">
                <h4 ng-text-truncate="news.description" ng-tt-chars-threshold="170"></h4>
            </div>
            <div align="right">
                <div class="row" ng-show="$storage.user.id === news.posted_by.id">
                    <button class="btn btn-primary" ng-model="item.SELECTED" ng-click="edit = !edit">
                    <i class="glyphicon glyphicon-pencil"></i> {{'EDIT' | translate}}
                    </button>
                    <button class="btn btn-default" ng-model="item.SELECTED" ng-click="remove(news.id)">
                    <i class="glyphicon glyphicon-remove"></i> {{'REMOVE_POST' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="edit">
    <form>
        <div class="row text-center">
            <h5>{{'EDIT_YOUR_POST' | translate}}</h5>
        </div>
        <div class="form-group col-centered">
            <label>{{'TITLE' | translate}}:</label>
            <input class="form-control input-lg" type="text" id="title" ng-model="news.title">
        </div>
        <div class="form-group">
            <label>{{'POST' | translate}}:</label>
            <input class="form-control input-lg" type="text" id="title" ng-model="news.description">
        </div>
        <div>
            <button class="btn btn-primary" type="submit" ng-click="editNewsPost(news); edit = !edit">{
                {'SUBMIT_EDITED_POST' | translate}} </button>
            <button class="btn btn-default" ng-click="edit = !edit">
                {{'CANCEL' | translate}} </button>
        </div>
    </form>
</div>
<div class="col-md-12"><strong><u>{{'COMMENTS' | translate}}</u></strong></div>
<div class="col-md-12">
    <div class="panel panel-default" ng-repeat="comments in news.comments |orderBy: comments.posted" 
        ng-class-odd="'odd'" ng-class-even="'even'" >
        <div ng-show="!editComment">
            <a ng-click="flagComment(comments.id);" href="" class="pull-right"><i class="fa fa-flag-o" title="flag as abuse"/> 
                {{'FLAG' | translate}}</a>
            <a ng-href="/profiles/{{comments.posted_by.id}}">
                <img id="comment-img" ng-src="{{comments.posted_by.image_url}}" class="img-rounded img-responsive"></a>
            <div class="row">
                <div class="profile-details col-md-10">
                    <h6><a ng-href="/profiles/{{comments.posted_by.id}}">{{comments.posted_by.name}} </a>
                        <small>{{'REPLIED_ON' | translate}} {{comments.posted | date:medium}}</small>
                    </h6>
                    <p><strong>{{comments.text}}</strong></p>
                </div>
            </div>
        </div>
        <div ng-show="editComment">
            <a ng-href="/profiles/{{$storage.user.id}}">
                <img id="comment-img" ng-src="{{$storage.user.image_url}}" class="img-rounded"></a>
            <div class="col-md-12">
                <div class="profile-details col-md-10">
                    <strong>{{'EDIT_COMMENT' | translate}}</strong><br>
                    <form class="form-group">
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" class="form-control " ng-model="comments.text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="reset">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="editNewsComment(comments)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" ng-show="$storage.user.id === comments.posted_by.id" align="right">
            <button class="btn btn-primary btn-sm" ng-model="item.SELECTED" ng-click="editComment = !editComment"> 
                <i class="glyphicon glyphicon-pencil"></i> {{'EDIT' | translate}}
            </button>
            <button class="btn btn-default btn-sm" ng-model="item.SELECTED" ng-click="removeComment(comments.id, news.id)">
                <i class="glyphicon glyphicon-remove"></i> {{'REMOVE_COMMENT' | translate}}
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default" syle="background-color:white !important;">
        <a ng-href="/profiles/{{$storage.user.id}}">
            <img id="comment-img" ng-src="{{$storage.user.image_url}}" class="img-rounded">
        </a>
        <div class="row">
            <div class="profile-details col-md-10">
                <strong>{{'ADD_COMMENT' | translate}}</strong><br>
                <form class="form-group">
                    <div class="input-group">
                        <div class="input-group">
                            <input type="text" class="form-control " ng-model="newsComment" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="reset">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="reset" ng-click="addComment(news.id, newsComment)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>