<div ng-controller="newsfeedIndexCtrl">
    <div class="row">
    
    <!-- Title Row -->
     <div class="row" style="margin-top:-45px;">
        <h2 class="row col-md-12 col-md-offset-1"><i class="fa fa-newspaper-o"></i> {{'NEWSFEED' | translate}}</h2>
      </div>
      <!-- End Title Row -->
      
      <!-- Search Bar -->
      <div id="custom-search-input">
            <div class="input-group col-md-6 col-md-offset-3" style="border-radius:10px;">
                <input type="text" class=" search-query form-control" 
                            ng-model="query" placeholder="{{'QUICK_SEARCH' | translate}}"/>
                <span class="input-group-btn">
                    <button class="btn btn-sucess" type="button">
                        <i class=" glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <!-- End Search Bar -->
        
        <!-- Feed Tabs -->
       <div class="row col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs filter-tabs">
                <li class="active">
                    <a data-toggle="tab" href="" ng-click="show('all')">{{'ALL' | translate}}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="" ng-click="show('students')">{{'STUDENTS' | translate}}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="" ng-click="show('alumni')">{{'ALUMNI' | translate}}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="" ng-click="show('faculty')">{{'FACULTY' | translate}}</a>
                </li>
            </ul>
        </div>
        <!-- End Feed Tabs -->
        
        <!-- Create A New Post -->
        <div class="row col-md-10 col-md-offset-1">
            <div class="well">
                <a ng-href="/profiles/{$storage.user.id}}">
		    	            <img ng-src="{{$storage.user.image_url}}" class="profile-img img-rounded">
		    	         </a>
                        <div class="row">
                            <div class="profile-details col-md-10">
                                  <form class="form-group">
                                    <div class="input-group">
                                       <div class="text-center">
                                        <label>{{'WHATS_ON_YOUR_MIND' | translate}}</label>
                                        </div>  
                                         <input type="text" class="form-control" placeholder="{{'POST_TITLE' | translate}}" ng-model="newPost.title" required/> 
                                             
                                          <textarea class="form-control" placeholder="{{'POST_BODY' | translate}}" ng-model="newPost.description"/>
                                    </div>
                                    <div class="col-md-12 form-horizontal form-group">
                                    <label>{{'POST_TO' | translate}}: </label>
                                    <select chosen multiple id="states"  ng-model="newPost.visible_to" style="width:350px" required>
                                        <option value="student">{{'STUDENTS' | translate}}</option>
                                        <option value="alumni">{{'ALUMNI' | translate}}</option>
                                        <option value="faculty">{{'FACULTY' | translate}}</option>
                                        <option value=""""></option>
                                      </select>
                                    </div>
                                         
                                          <span class="input-group-btn" aline="right">
                                            <button class="btn btn-default" type="reset" ng-click="resetNewPost()">
                                                {{'CLEAR' | translate}}
                                            </button>
                                          </span>
                                      
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" ng-click="addNewPost();">
                                                <i class="fa fa-plus"></i>{{'POST' | translate}}
                                            </button>
                                        </span>
                                  </form>
                            </div>
                        </div>
            </div>
         
    </div>
    <!-- NewsFeed --> 
    <div ng-show="allNews" ng-include="'/src/views/newsfeed/newsFeedAllTmpl.html'"></div>
    <div ng-show="studentNews" ng-include="'/src/views/newsfeed/newsFeedStudentTmpl.html'"></div>
    <div ng-show="alumniNews" ng-include="'/src/views/newsfeed/newsFeedAlumniTmpl.html'"></div>
    <div ng-show="facultyNews" ng-include="'/src/views/newsfeed/newsFeedFacultyTmpl.html'"></div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
</div>