<div class="row">
    <div class="row" style="margin-top:-45px;">
        <h2 class="row col-md-12 col-md-offset-1"><i class="fa fa-suitcase fa-lg"></i> {{'JOBS' | translate}}</h2>
        <div id="custom-search-input">
            <div class="input-group col-md-6 col-md-offset-3" style="border-radius:10px;">
                <input type="text" class=" search-query form-control" 
                            ng-model="query" placeholder="{{'QUICK_SEARCH' | translate}}"/>
                <span class="input-group-btn">
                    <button class="btn btn-sucess" type="button">
                        <i class=" glyphicon glyphicon-search"></i>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" class = "btn-space" ng-click="advancedSearch = !advancedSearch">
                    <span>{{'ADVANCED_SEARCH' | translate}} <i class="fa fa-search-plus"></i></span>
                </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="row">
            <br>
            <div id="filter-panel" ng-show="advancedSearch" class="col-md-8 col-md-offset-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="pref-perpage">
                                    {{'JOBS_PER_PAGE' | translate}}:
                                </label>
                                <select id="pref-perpage" class="form-control">
                                    <option value="5">5</option>
                                    <option selected="selected" value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="all">{{'SHOW_ALL' | translate}}</option>
                                </select>                                
                            </div>
                            <!-- There should probably be a way to search only Profiles/jobs/news 
                                or to not include one or more -->
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="pref-search">Key Words:</label>
                                <input type="text" class="form-control input-sm" id="pref-search">
                            </div>
                            <div class="form-group">
                            <p>Date Posted: <input type="text" id="datepicker"></p>
                            </div>
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="pref-orderby">
                                    {{'ORDER_BY' | translate}}:
                                </label>
                                <select id="pref-orderby" class="form-control">
                                    <option>{{'ASCENDING' | translate}}</option>
                                    <option>{{'DESCENDING' | translate}}</option>
                                </select>                                
                            </div> 
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>

<div>
   <br>
    <div ng-controller="jobsIndexCtrl" class="col-md-10 col-md-offset-1">
    
    <!--Filter Tabs are not really needed for Jobs -->
<!--
        <div class="row">
            <ul class="nav nav-tabs filter-tabs">
                <li class="active"><a data-toggle="tab" href="">{{'ALL' | translate}}</a></li>
                <li><a data-toggle="tab" href="">{{'STUDENTS' | translate}}</a></li>
                <li><a data-toggle="tab" href="">{{'ALUMNI' | translate}}</a></li>
                <li><a data-toggle="tab" href="">{{'FACULTY' | translate}}</a></li>
            </ul>
        </div>
-->
        <div class="input-group col-md-12">

            <div class=" col-md-12" ng-repeat="job in jobs | filter:query | orderBy:'-start_date'">
                <div class="row panel panel-default">
                   <div class="col-md-2 text-center" style="padding-top:35px;">
                       <i class=" fa fa-institution fa-lg fa-4x"></i><br><br>{{job.type | uppercase}}
                    </div>
                    <div class="col-md-10 page-content" style="margin-bottom: 10px;">
                        <div ng-href="/jobs/{{job.id}}" class="row col-md-12">
                            <a ng-href="/jobs/{{job.id}}"><h4>{{job.title}}</h4></a>
                        </div>
                        <div class="row col-md-12">
                            <a ng-href="/jobs/{{job.id}}">{{'COMPANY' | translate}}: {{job.company}}</a>
                        </div>
                        <div ng-href="/jobs/{{job.type}}" class="text-muted row col-md-12">
                                <h5 ng-text-truncate="job.description"
                                            ng-tt-chars-threshold="170">
                                </h5>
                        </div>
                    <a ng-click="flag(job.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>flag</a>
                     </div>
                </div>
            </div>
        </div>
    </div></div>
</div>






