<div ng-controller="jobsShowCtrl">
	
    <h2><b>Jobs Listing Details</b></h2>

    <div class="row"><b>{{job.title}}</b></div> 
    <div class="row"><b>Company: </b>{{job.poster_company}}</div> 
    <div class="row"><b>Contact: </b>{{job.poster_email}}</div> 
    <div class="row"><b>Type: </b>{{job.type}}</div>    
    <div class="row"><b>Location: </b>{{job.location}}</div>    
    <div class="row"><b>Start Date: </b>{{job.start_date}}</div>    
    <br><div class="row"><b>Description:</b></div>
    <div class="row">	 {{job.description}}</div>
           

</div>

