<div>   
    <!-- Reset: E-Mail-->
    <div class="col-md-6 col-md-offset-3 well">

    <!-- Contents -->
        <div class="col-md-12 form-padding ng-binding">

            <!-- Heading -->
            <h2 class="text-center">E-Mail Confirmation</h2><br>
            <p class="indent">Please type down the email address of the account. A confirmation token will be sent to the email address to verify the account and direct you to the page to change and reset the account's password with a new password. You will have only 24 hours to confirm the token and reset the password.</p><br>

            <form>
                <div class="col-md-12 form-padding">
                    <input class="form-control" type="email" id="email" placeholder="Email"><br>
                </div>

                <div class="col-md-3 form-padding">
                    <button class="btn btn-primary btn-block" ng-click="" type="submit">Send</button>
                </div>

                <div class="col-md-3 col-md-offset-6 form-padding">
                    <button class="btn btn-primary btn-block" ng-click="" type="submit">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>