<div ng-controller="forgotPasswordCtrl">   
    <!-- Reset: E-Mail-->
    <div class="col-md-6 col-md-offset-3 well">

    <!-- Contents -->
        <div class="col-md-12 form-padding ng-binding">

            <!-- Heading -->
            <h2 class="text-center">{{'FORGOT_PAGE_TITLE' | translate}}</h2><br>
            <p>{{'FORGOT_EXPLAINER' | translate}}</p><br>

            <form>
                <div class="col-md-12 form-padding">
                    <input class="form-control" ng-model="resetPassEmail" id="email" type="email" placeholder="{{'EMAIL' | translate}}"><br>
                </div>

                <div class="col-md-3 form-padding">
                    <button class="btn btn-primary btn-block" ng-click="CancelReset()" type="submit">{{'BUTTON_CANCEL' | translate}}</button>
                </div>

                <div class="col-md-3 col-md-offset-6 form-padding">
                    <button class="btn btn-primary btn-block" ng-click="SendEmail()" type="submit">{{'BUTTON_SEND' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>