<div>   
    <!-- Reset: E-Mail-->
    <div class="col-md-6 col-md-offset-3 well">

    <!-- Contents -->
        <div class="col-md-12 form-padding">

            <!-- Heading -->
            <h2 class="text-center ng-binding">Reset Password</h2><br>
            <p class="indent ng-binding">Please type down the email address and the token that was sent to your email to verify the account. Then, enter your desired new password. Click on the confirm button and the account's password will be renewed with your new password immediately.</p><br>

            <form>
                <div class="col-md-12 form-padding">
                    <input class="form-control" type="email" id="email" placeholder="Email">
                </div>

                <div class="col-md-12 form-padding">
                    <input class="form-control" type="text" id="token" placeholder="Token">
                </div>

                <div class="col-md-12 form-padding">
                    <input class="form-control" type="password" id="password" placeholder="Password"><br>
                </div>

                <div class="col-md-3 col-md-offset-9 form-padding">
                    <button class="btn btn-primary btn-block ng-binding" ng-click="" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>