<div>   
    <!-- Reset: E-Mail-->
    <div class="col-md-6 col-md-offset-3 well">

    <!-- Contents -->
        <div class="col-md-12 form-padding">

            <!-- Heading -->
            <h2 class="text-center ng-binding">{{'RESET_PAGE_TITLE' | translate}}</h2><br>
            <p class="indent ng-binding">{{'RESET_EXPLAINER' | translate}}</p><br>

            <form>
                <div class="col-md-12 form-padding">
                    <input class="form-control" type="email" id="email" placeholder="{{'EMAIL' | translate}}">
                </div>

                <div class="col-md-12 form-padding">
                    <input class="form-control" type="text" id="token" placeholder="{{'TOKEN' | translate}}">
                </div>

                <div class="col-md-12 form-padding">
                    <input class="form-control" type="password" id="password" placeholder="{{'PASSWORD' | translate}}"><br>
                </div>

                <div class="col-md-3 col-md-offset-9 form-padding">
                    <button class="btn btn-primary btn-block ng-binding" ng-click="" type="submit">{{'CONFIRM' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>