<footer class="logged-out-footer">
    <!-- Choose Language -->
    <div class="container footer-box" ng-controller="chooseLangCtrl" >
        <div class="row row-centered" ng-show="true">
            <div class="col-md-12 col-centered text-center logged-out-footer-upper">
                <h4>
                    <a href="javascript:;" ng-click="chooseLang('en');">English</a> &nbsp &nbsp
                    <a href="javascript:;" ng-click="chooseLang('es');">Español</a> &nbsp &nbsp
                    <a href="javascript:;" ng-click="chooseLang('fr');">Français</a> &nbsp &nbsp
                    <a href="javascript:;" ng-click="chooseLang('zh');">中文</a>
                </h4>
		<hr>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-md-12 col-centered logged-out-footer-lower">
               <p class="text-center">
                    <a ng-href="/ua">{{'USER_AGREEMENT' | translate}}</a> &nbsp &nbsp
                    <a ng-href="/privacy">{{'PRIVACY_POLICY' | translate}}</a> &nbsp &nbsp
                    <a ng-href="/community-guidlines">{{'COMMUNITY_GUIDLINES' | translate}}</a> &nbsp &nbsp
                    <a ng-href="/about">{{'ABOUT_US' | translate}}</a> &nbsp &nbsp
                    <a ng-href="/contact">{{'CONTACT' | translate}}</a> &nbsp &nbsp
                    <a ng-href="#">{{'POST_A_JOB' | translate}}</a> &nbsp &nbsp
                </p>
                <h6 class="text-center text-muted">{{'COPYRIGHT' | translate}} &copy; 2016 Spring-2885</h6>
                <h5 class="text-center text-muted">
                    <small>
                        A <a href="http://www.ndnu.edu/arts-and-sciences/undergraduate/computer-information-science/">Notre Dame De Namur Computer Science</a> Project
                    </small>
                </h5>
            </div>
        </div>
    </div>
</footer>
