<footer class="footer">
    
    <div class="container panel footer-box">
       <div class="row row-centered">
            <div class="col-md-12 col-centered logged-out-footer-lower">
               <p class="text-center">
                    <a ng-href="#">User Agreement</a> &nbsp &nbsp
                    <a ng-href="#">Privacy Policy</a> &nbsp &nbsp
                    <a ng-href="#">Community Guidelines</a> &nbsp &nbsp
                    <a ng-href="#">About Us</a> &nbsp &nbsp
                    <a ng-href="#">Contact</a> &nbsp &nbsp
                </p>
                <h6 class="text-center text-muted">Copyright &copy; 2016 Spring-2885</h6>
            </div>
        </div>
        
    </div> <!-- End Container -->
    
</footer>