<div class="container">
	<div class="jumbotron well">
		<h1 class="text-center form-padding lead"><strong>404: {{'NOT_FOUND' | translate}}!</h1>
		<h2 class="text-center form-padding">{{'404_EXPLAINER' | translate}}...</h2>

		<div class="text-center">
			<iframe src="//giphy.com/embed/lKXd9sYM5dI9W" width="500px" height="250px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><h6><a href="https://giphy.com/gifs/paul-rudd-anchorman-brian-fantana-lKXd9sYM5dI9W">via GIPHY</a></h6>
		</div>
	</div>
</div>