<div class="container">
	<div class="jumbotron well">
		<h1 class="text-center form-padding lead"><strong>404: Not Found!</h1>
		<h2 class="text-center form-padding">For now, either return to the previous page or head to the home page. There is an error in what you were looking for, but...</h2>

		<div class="text-center">
			<iframe src="//giphy.com/embed/lKXd9sYM5dI9W" width="500px" height="250px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><h6><a href="https://giphy.com/gifs/paul-rudd-anchorman-brian-fantana-lKXd9sYM5dI9W">via GIPHY</a></h6>
		</div>
	</div>
</div>