
<!--<div ng-controller="profileShowCtrl">-->
    <div class="container">
        
<!-- USER PROFILE ROW STARTS-->
    <div class="row">
        <div class="col-md-3 col-sm-3">
            
             <div class="user-wrapper">
            <div ng-src="{{profile.image_url ? img_url : 'src/assets/images/Profilepic.svg'}}" class="img-rounded img-responsive"></div>
        <div contenteditable ng-model="profile.name" class="description">
            <h4>{{profile.name}}</h4>
        
            <h4>{{profile.email}}</h4>
   
            <h5> <strong> {{profile.company}} </strong></h5>

            {{profile.occupation}}
   
            </p>
            <hr />
                 </div>
            </div>
    </div>
         <div class="col-md-9 col-sm-9  user-wrapper">
                <div class="description">
            
                         <h3>{{profile.name}} About Me: </h3>
    
  </div>
                     <p>
    
                        <textarea name='About Me' ng-model='item.aboutMe' required>{{profile.about_me}}</textarea>
    
  </div>
                    </p>                 
        <h3> Social Links: </h3>
                    <hr />                
                   <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook </a>

                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                    </div>
                 
                </div>
            </div>
           <!-- USER PROFILE ROW END-->
    </div>
    <!-- CONATINER END -->