<div ng-controller="profileIndexCtrl">
    <div class="row">
        <div class="row"">
        <div id="custom-search-input">
            <div class="input-group col-md-6 col-md-offset-3" style="border-radius:10px;">
                <input type="text" class=" search-query form-control" 
                    ng-model="query" placeholder="{{'QUICK_SEARCH' | translate}}"/>
                <span class="input-group-btn">
                    <button class="btn btn-sucess" type="button">
                        <i class=" glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <ul class="nav nav-tabs filter-tabs">
                    <li class="active"><a data-toggle="tab" href="" ng-click="filterProfiles('all')">{{'ALL' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('student')" href="">{{'STUDENTS' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('alumni')" href="">{{'ALUMNI' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('faculty')" href="">{{'FACULTY' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('classOf')" href="">Class of {{$storage.user.graduation_year}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('major')" href="">{{$storage.user.degree_major}} Degree</a></li>
                </ul>
            </div>
            <div ng-show="noFilter">
            <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | filter:query | orderBy:'name'" id="all">
                <img src={{profile.image_url}} class="profile-img img-rounded">
                <div class="row">
                    <div class="profile-details col-md-10">
                        <a class="name" ng-href="/profiles/{{profile.id}}">
                            <h2>{{profile.name || profile.email}}</h2>
                        </a>
                        <h4 class="sp-text-blk">{{profile.title}}</h4>
                        <h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
                    </div>
                    <a ng-click="flag(profile.id);" href="" styple="width:100%;">
                        <i class="fa fa-flag-o" title="flag as abuse"/> {{'FLAG' | translate}}
                    </a> 
                </div>
            </li>
        </div>
        <div ng-show="studentFilter">
            <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | students | filter:query | orderBy:'name'">
                <img src={{profile.image_url}} class="profile-img img-rounded">
                <div class="row">
                    <div class="profile-details col-md-10">
                        <a class="name" ng-href="/profiles/{{profile.id}}">
                          <h2>{{profile.name || profile.email}}</h2></a>
                        <h4 class="sp-text-blk">{{profile.title}}</h4>
                        <h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
                    </div>
                    <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
                </div>
            </li>
        </div>
        <div ng-show="alumniFilter">
            <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | alumni | filter:query | orderBy:'name'" id="all">
                <img src={{profile.image_url}} class="profile-img img-rounded">
                <div class="row">
                    <div class="profile-details col-md-10">
                        <a class="name" ng-href="/profiles/{{profile.id}}">
                          <h2>{{profile.name || profile.email}}</h2></a>
                        <h4 class="sp-text-blk">{{profile.title}}</h4>
                        <h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
                    </div>
                    <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
                </div>
            </li>
        </div>
        <div ng-show="facultyFilter">
            <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | faculty | filter:query | orderBy:'name'" id="all">
                <img src={{profile.image_url}} class="profile-img img-rounded">
                <div class="row">
                    <div class="profile-details col-md-10">
                        <a class="name" ng-href="/profiles/{{profile.id}}">
                          <h2>{{profile.name || profile.email}}</h2></a>
                        <h4 class="sp-text-blk">{{profile.title}}</h4>
                        <h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
                    </div>
                    <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
                </div>
            </li>
        </div>
        <div ng-show="classOfFilter">
            <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | classOf | filter:query | orderBy:'name'" id="all">
                <img src={{profile.image_url}} class="profile-img img-rounded">
                <div class="row">
                    <div class="profile-details col-md-10">
                        <a class="name" ng-href="/profiles/{{profile.id}}">
                          <h2>{{profile.name || profile.email}}</h2></a>
                        <h4 class="sp-text-blk">{{profile.title}}</h4>
                        <h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
                    </div>
                    <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
                </div>
            </li>
        </div>
        <div ng-show="majorFilter">
            <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | major | filter:query | orderBy:'name'" id="all">
                <img src={{profile.image_url}} class="profile-img img-rounded">
                <div class="row">
                    <div class="profile-details col-md-10">
                        <a class="name" ng-href="/profiles/{{profile.id}}">
                          <h2>{{profile.name || profile.email}}</h2></a>
                        <h4 class="sp-text-blk">{{profile.title}}</h4>
                        <h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
                    </div>
                    <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
                </div>
            </li>
        </div> 
    </div>
</div>
