<div ng-controller="profileIndexCtrl">

    <div class="row">
        <div class="row" style="margin-top:-45px;">
        <h2 class="row col-md-12 col-md-offset-1"><i class="fa fa-suitcase fa-lg"></i> {{'PROFILES' | translate}}</h2>
        <div id="custom-search-input">
            <div class="input-group col-md-6 col-md-offset-3" style="border-radius:10px;">
                <input type="text" class=" search-query form-control" 
                            ng-model="query" placeholder="{{'QUICK_SEARCH' | translate}}"/>
                <span class="input-group-btn">
                    <button class="btn btn-sucess" type="button">
                        <i class=" glyphicon glyphicon-search"></i>
                    </button>
                </span>
                <span class="input-group-btn" ng-hide="true">
                    <button type="button" class="btn btn-primary" class = "btn-space" ng-click="advancedSearch = !advancedSearch">
                    <span>{{'ADVANCED_SEARCH' | translate}} <i class="fa fa-search-plus"></i></span>
                </button>
                </span>
            </div>
        </div>
    </div>

        <div class="row col-md-12">
            <div class="row" ng-hide="true">
                <br>
                <div id="filter-panel" ng-show="advancedSearch" class="col-md-8 col-md-offset-2 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">
                                        {{'JOBS_PER_PAGE' | translate}}:
                                    </label>
                                    <select id="pref-perpage" class="form-control">
                                        <option value="5">5</option>
                                        <option selected="selected" value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="all">{{'SHOW_ALL' | translate}}</option>
                                    </select>                                
                                </div>
                            <!-- There should probably be a way to search only Profiles/jobs/news 
                                or to not include one or more -->
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-search">Key Words:</label>
                                    <input type="text" class="form-control input-sm" id="pref-search">
                                </div>
                                <div class="form-group">
                                    <p>Date Posted: <input type="text" id="datepicker"></p>
                                </div>
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-orderby">
                                        {{'ORDER_BY' | translate}}:
                                    </label>
                                    <select id="pref-orderby" class="form-control">
                                        <option>{{'ASCENDING' | translate}}</option>
                                        <option>{{'DESCENDING' | translate}}</option>
                                    </select>                                
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>

	<div class="row">
       
    	<div class="col-md-10 col-md-offset-1">
    	<br><h4>{{'SEARCH_RESULTS' | translate}}...</h4>
             <div class="row">
                <ul class="nav nav-tabs filter-tabs">
                    <li class="active"><a data-toggle="tab" href="" ng-click="filterProfiles('all')">{{'ALL' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('student')" href="">{{'STUDENTS' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('alumni')" href="">{{'ALUMNI' | translate}}</a></li>
                    <li><a data-toggle="tab" ng-click="filterProfiles('faculty')" href="">{{'FACULTY' | translate}}</a></li>
                </ul>
              </div>

    		<!-- Profiles -->
    		
    		<div ng-show="noFilter">
		    <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | filter:query | orderBy:'name'" id="all">
		    	<img src={{profile.image_url}} class="profile-img img-rounded">

		    	<div class="row">
		    		<div class="profile-details col-md-10">
			        	<a class="name" ng-href="/profiles/{{profile.id}}">
			        	  <h2>{{profile.name || profile.email}}</h2></a>
			        	<h4 class="sp-text-blk">{{profile.title}}</h4>
			        	<h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
			        </div>
			        <a ng-click="flag(profile.id);" href="" styple="width:100%;"><i class="fa fa-flag-o" title="flag as abuse"/> {{'FLAG' | translate}}</a> 
		        </div>
		    </li>
		    </div>
		    
		  <div ng-show="studentFilter">
		    <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | students | filter:query | orderBy:'name'">
		    	<img src={{profile.image_url}} class="profile-img img-rounded">

		    	<div class="row">
		    	
		    		<div class="profile-details col-md-10">
			        	<a class="name" ng-href="/profiles/{{profile.id}}">
			        	  <h2>{{profile.name || profile.email}}</h2></a>
			        	<h4 class="sp-text-blk">{{profile.title}}</h4>
			        	<h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
			        </div>
			        <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
		        </div>
		    </li>
		    </div>
		    
		  <div ng-show="alumniFilter">
		    <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | alumni | filter:query | orderBy:'name'" id="all">
		    	<img src={{profile.image_url}} class="profile-img img-rounded">

		    	<div class="row">
		    		<div class="profile-details col-md-10">
			        	<a class="name" ng-href="/profiles/{{profile.id}}">
			        	  <h2>{{profile.name || profile.email}}</h2></a>
			        	<h4 class="sp-text-blk">{{profile.title}}</h4>
			        	<h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
			        </div>
			        <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
		        </div>
		    </li>
		    </div>
		    
		  <div ng-show="facultyFilter">
		    <li class="well list-unstyled form-padding" ng-repeat="profile in profiles | faculty | filter:query | orderBy:'name'" id="all">
		    	<img src={{profile.image_url}} class="profile-img img-rounded">

		    	<div class="row">
		    		<div class="profile-details col-md-10">
			        	<a class="name" ng-href="/profiles/{{profile.id}}">
			        	  <h2>{{profile.name || profile.email}}</h2></a>
			        	<h4 class="sp-text-blk">{{profile.title}}</h4>
			        	<h4 class="sp-text-blk">{{profile.company_name}} - {{profile.occupation}}</h4>
			        </div>
			        <a ng-click="flag(profile.id);" href=""><i class="fa fa-flag-o" title="flag as abuse"/>{{'FLAG' | translate}}</a>
		        </div>
		    </li>
		  </div>
		    
	    </div>
	    <div class="row">&nbsp;</div>
	    <div class="row">&nbsp;</div>
	</div>  
</div>
