<div class="row">
   
    <div class="col-md-12">
      
       <!-- What the app is -->
        <div class="col-md-6 sign-up-explain-box">
           <h2>{{'CONNECT_W_NDNU_COMMUNITY' | translate}}</h2> 
            <div class="col-md-7">
                
                <p>{{'SITE_EXPLAINER' | translate}}</p>
                <ul>
                    <li>{{'SITE_EXPLAINER.ONE' | translate}}</li><br>
                    <li>{{'SITE_EXPLAINER.TWO' | translate}}</li><br>
                    <li>{{'SITE_EXPLAINER.THREE' | translate}}</li><br>
                    <li><a href="/about">{{'READ_MORE_ABOUT_SPRING2885' | translate}}</a></li>
                </ul>
            </div>
        </div>
        
        <!-- Lazy Spacing -->
        <div class="col-md-1"></div>
        
        <!-- Sign Up -->
        <div class="col-md-5 col-centered login-box" ng-controller="signUpCtrl">
        
         <!-- Title Lable -->
          <div class="col-md-12">
                <h2 class="text-center">{{'NEW_TO_SPRING2885' | translate}}</h2>
              <h1 class="text-center"><small>{{'SIGN_UP_NOW' | translate}}</small></h1>
            </div>
         
           
           <form>
               <div class="form-group col-centered">
                 
                    <div class="col-md-12 text-centered form-padding"></div>
                    
                    <div class="col-md-12 text-centered form-padding">
                        <input class="form-control input-lg" 
                        type="email" 
                        id="email"
                        placeholder="{{'EMAIL_ADDRESS' | translate}}">
                    </div>
        
                   <div class="col-md-12 text-centered form-padding"></div>
                   
                    <div class="col-md-12 text-centered form-padding">
                        <input class="form-control input-lg" 
                        type="password" 
                        id="password" 
                        placeholder="{{'NEW_PASSWORD' | translate}}">
                    </div>
                    
                   <div class="col-md-12 text-centered form-padding"></div>
                   
                    <div class="col-md-12 radio text-center form-padding">
                        <label>
                            <input type="radio" 
                            name="acceptTerms">
                                {{'I_ACCEPT_ALL' | translate}}
                                <a href="">{{'TERMS_AND_POLICIES' | translate}}</a>
                        </label>
                    </div>
                    
                    <div class="col-md-12 text-centered form-padding">
                        <button class="btn btn-primary btn-block btn-lg" ng-click="" type="submit">
                            {{'SIGN_UP' | translate}}
                        </button>
                    </div>
                    
                    <div class="col-md-12 text-centered form-padding"></div>
                    
               </div>
           </form>
            
        </div> <!-- End Sign Up -->
    </div>
</div>