<nav id="signed-out-nav" class="navbar" role="navigation">
    <div class="row logged-out-nav">
        <div class="container">
            <div class="navbar-header col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <a class="navbar-brand hidden-xs" href="/">
                    <img style="height: 45px;
                    width: 300px; 
                    margin-top: 5px; 
                    margin-left: 5px;
                    border-radius: 2px;" 
                    alt="NDNU" 
                    src="src/assets/images/ndnuLogoColors.jpg">
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <form ng-submit="login()" class="nav navbar-nav navbar-right" style="margin-top: 15px;">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <input class="form-control input-sm"
                        type="email" 
                        id="email"
                        ng-model="credentials.username" 
                        placeholder="{{'EMAIL_ADDRESS' | translate}}">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <input class="form-control input-sm"
                         type="password" 
                         id="password"
                         ng-model="credentials.password" 
                         placeholder="{{'PASSWORD' | translate}}">
                    </div>
                    <div>
                         <button class="col-xs-12 col-sm-2 col-md-2 col-lg-2 btn btn-primary btn-sm"
                            type="submit">
                            {{'SIGN_IN' | translate}}
                        </button>  
                    </div>
               </form>
            </div>
            </div>
        </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6"></div>
            <div class="row col-md-6 navbar-right">
                <div class="col-md-6 pull-right"><a href="/forgot">{{'FORGOT_MY_PASSWORD' | translate}}</a></div>
            </div>
        </div>
    </div>
</nav>