
<div class="container">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
			<div class="row well well-sm">
				<h1>{{'COMMUNITY_GUIDLINES' | translate}}</h1>
				<p>
				    {{'COM_GIUDLINES.P1' | translate}}
				</p>
				<p>
				<ol>
				<li>
				    {{'COM_GUIDLINES.P2' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P3' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P4' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P5' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P6' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P7' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P8' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P9' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P10' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P11' | translate}}
				</li>
				<li>
				    {{'COM_GUIDLINES.P12' | translate}}
				</li>
				</ol>
				</p>
		    </div>
		</div>
	</div>
	<div class="row">
	&nbsp;
	</div>

</div>