
<div class="container">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
			<div class="row well well-sm">
				<h1>Community Guidlines</h1>
				<p>
				This community is governed by the following set of standards that apply to all community members and their posts. We reserve the right to remove any material that does not (in our judgment) comply with these standards and to revoke posting privileges at our discretion. In most instances, community members will be warned of offending behavior and repeated warnings may result in banning. Our decisions are considered final.
				</p>
				<p>
				<ol>
				<li>
				Please be respectful and civil to other Community members and guests, even in disagreement.
				</li>
				<li>
				Vulgar, profane, or sexually graphic content (posts, member names, subject lines, images, etc.) is not allowed.
				</li>
				<li>
				We do not tolerate threatening, racist, abusive, hateful, violent, or obscene language or behavior.
				</li>
				<li>
				Participation in, suggesting, or encouraging any illegal activity is cause for immediate deletion and suspension of posting privileges, and may be reported to the appropriate authorities.
				</li>
				<li>
				We encourage you to provide valuable links to other online resources. Before directly posting articles, news reports, or other copyrighted material, however, please secure the permission of the relevant copyright owners.
				</li>
				<li>
				Do not flood or spam, or post chain letters, pyramid schemes, junk mail, etc.
				</li>
				<li>
				This is a place for creating connections, but excessive commercial solicitation, requests for investors or capital, or advertising that impedes the community experience for others is not acceptable. Solicitation of pornography or pharmaceutical drugs is also not allowed.
				</li>
				<li>
				This is a public discussion forum. Do not post any private information about yourself or your business that you do not wish to be widely available public knowledge. Under no circumstances should you share or post your Card account number with the community. When sharing contact information, please use a private message. It is not recommended to post personal information such as home address or personal telephone numbers. Please be advised that because your User ID will be viewable by the entire community, you may not want to use your full name as your User ID. Also, you should understand that the following optional information that you post in your member profile will be viewable to all visitors of the site: Image, Business Name, City, State, Country, Company website/URL, Years in Business, Business Description.
				</li>
				<li>
				Please keep in mind that community members may claim expertise or status (legal, medical, etc) that they do not, in fact, possess. Thoughtful discretion should be given to all advice found on the site.
				</li>
				<li>
				Discussing your community experience or that of a competitor, both positive and negative is acceptable, but excessively abusive language is not.
				</li>
				<li>
				The views expressed by community members on the site do not necessarily reflect those of our company. 
				</li>
				</ol>
				</p>
		    </div>
		</div>
	</div>
	<div class="row">
	&nbsp;
	</div>

</div>