<div>
    <div class="well form-padding col-md-10 col-md-offset-1">
        <h1 class="form-padding">{{'FAQ_TITLE' | translate}}</h1>
        <ul class="list-unstyled form-padding col-md-12">

            <li>
                <a href ng-click="showAns1 = !showAns1"><h3 class="form-padding">{{'FAQ_Q1' | translate}}</h3></a>
                <h4 ng-show="showAns1" class="col-md-12 form-padding">{{'FAQ_ANS1' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns2 = !showAns2"><h3 class="form-padding">{{'FAQ_Q2' | translate}}</h3></a>
                <h4 ng-show="showAns2" class="col-md-12 form-padding">{{'FAQ_ANS2' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns3 = !showAns3"><h3 class="form-padding">{{'FAQ_Q3' | translate}}</h3></a>
                <h4 ng-show="showAns3" class="col-md-12 form-padding">{{'FAQ_ANS3' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns4 = !showAns4"><h3 class="form-padding">{{'FAQ_Q4' | translate}}</h3></a>
                <h4 ng-show="showAns4" class="col-md-12 form-padding">{{'FAQ_ANS4' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns5 = !showAns5"><h3 class="form-padding">{{'FAQ_Q5' | translate}}</h3></a>
                <h4 ng-show="showAns5" class="col-md-12 form-padding">{{'FAQ_ANS5' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns6 = !showAns6"><h3 class="form-padding">{{'FAQ_Q6' | translate}}</h3></a>
                <h4 ng-show="showAns6" class="col-md-12 form-padding">{{'FAQ_ANS6' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns7 = !showAns7"><h3 class="form-padding">{{'FAQ_Q7' | translate}}</h3></a>
                <h4 ng-show="showAns7" class="col-md-12 form-padding">{{'FAQ_ANS7' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns8 = !showAns8"><h3 class="form-padding">{{'FAQ_Q8' | translate}}</h3></a>
                <h4 ng-show="showAns8" class="col-md-12 form-padding">{{'FAQ_ANS8' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns9 = !showAns9"><h3 class="form-padding">{{'FAQ_Q9' | translate}}</h3></a>
                <h4 ng-show="showAns9" class="col-md-12 form-padding">{{'FAQ_ANS9' | translate}}</h4>
            </li>

            <li>
                <a href ng-click="showAns0 = !showAns0"><h3 class="form-padding">{{'FAQ_Q10' | translate}}</h3></a>
                <h4 ng-show="showAns0" class="col-md-12 form-padding">{{'FAQ_ANS10' | translate}}</h4>
            </li>
        </ul>
    </div>
</div>