<div class="container">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
			<div class="row well well-sm">

<div><h1>{{'PP.HEADER' | translate}}</h1>
<div class='innerText'>
    {{'PP.P1' | translate}}
    <br>
</div>
<span id='infoCo'></span>
<br>
<div class='grayText'>
    <strong>{{'PP.P2' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P3' | translate}}
</div>
<br>
<div class='grayText'>
    <strong>{{'PP.P4' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P5' | translate}}
</div>
<br>
    {{'PP.P6' | translate}}
<span id='infoUs'></span>
<br><div class='grayText'>
    <strong>{{'PP.P7' | translate}} </strong>
</div>
<br/>
<div class='innerText'> 
    {{'PP.P8' | translate}}
<br><br>
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P9' | translate}}
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P10' | translate}}
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P11' | translate}}
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P12' | translate}}
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P13' | translate}}
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P14' | translate}}
</div>
<span id='infoPro'></span>
<br>
<div class='grayText'>
<strong>{{'PP.P15' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P16' | translate}}
</div>
<div class='innerText'>
    {{'PP.P17' | translate}}
</div>

<div class='innerText'>
    {{'PP.P18' | translate}}
</div>
<br>
<div class='innerText'>
    {{'PP.P19' | translate}}
</div>
<br>
<span id='coUs'></span>
<br>
<div class='grayText'>
<strong>{{'PP.P20' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P21' | translate}}
</div>
<div class='innerText'>
<br>
<strong>{{'PP.P22' | translate}}</strong>
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P23' | translate}}
</div>
<div class='innerText'>
<br>
    {{'PP.P24' | translate}}
<br>
</div>
<br>
<div class='innerText'>
    {{'PP.P25' | translate}}
</div>
<br>
<span id='trDi'></span>
<br>
<div class='grayText'>
<strong>{{'PP.P26' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P27' | translate}}
<br><br> 
    {{'PP.P28' | translate}}
</div>
<span id='trLi'></span>
<br>
<div class='grayText'>
<strong>{{'PP.P29' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P30' | translate}}
</div>
<span id='gooAd'></span>
<br>
<div class='blueText'>
<strong>{{'PP.P31' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
     {{'PP.P32' | translate}}
    <a>https://support.google.com/adwordspolicy/answer/1316548?hl=en</a> 
<br>
<br>
</div>
<div class='innerText'>
    {{'PP.P33' | translate}}
</div>
<div class='innerText'>
<br>
    {{'PP.P34' | translate}}
<br>
</div>
<div class='innerText'>
<br>
<strong>{{'PP.P35' | translate}}</strong>
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P36' | translate}}
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<strong>&bull;</strong> 
    {{'PP.P37' | translate}}
</div>
<br>
<div class='innerText'>
    {{'PP.P38' | translate}}
</div>
<div class='innerText'>
<br>{{'PP.P39' | translate}}<Br>
    {{'PP.P40' | translate}}
</div>
<span id='calOppa'></span>
<br>
<div class='blueText'>
<strong>{{'PP.P41' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P42' | translate}}
    <a>http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
<br>
</div>
<div class='innerText'>
<br>
<strong>{{'PP.P43' | translate}}</strong>
</div>
<div class='innerText'>
    {{'PP.P44' | translate}}
</div>
<div class='innerText'>
    {{'PP.P45' | translate}}
</div>
<div class='innerText'>
<br>
<div class='innerText'>
<br>
<strong>{{'PP.P46' | translate}}</strong>
</div>
<div class='innerText'>
    {{'PP.P47' | translate}}
</div>
<span id='coppAct'></span>
<br>
<div class='blueText'>
<strong>{{'PP.P48' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P49' | translate}}
<br><br>
</div>
<div class='innerText'>
    {{'PP.P50' | translate}}
</div>
<span id='ftcFip'></span>
<br><div class='blueText'>
<strong>{{'PP.P51' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P52' | translate}}
<br><br>
</div>
<div class='innerText'>
<strong>
    {{'PP.P53' | translate}}
</strong>
</div>
<div class='innerText'>
    {{'PP.P54' | translate}}
</div>

<div class='innerText'>
    {{'PP.P55' | translate}}
</div>
<div class='innerText'>
<br>
    {{'PP.P56' | translate}}
</div>
<span id='canSpam'></span>
<br>
<div class='blueText'>
<strong>{{'PP.P57' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P58' | translate}}
<br><br>
</div>
<div class='innerText'>
<strong>{{'PP.P59' | translate}}</strong>
</div>
<div class='innerText'>
<br>
<strong>{{'PP.P60' | translate}}</strong>
</div>
<div class='innerText'>
<strong>
    <br>{{'PP.P61' | translate}}
</strong>
</div> 
<div>
{{'PP.P62' | translate}}<strong>{{'PP.P63' | translate}}</strong> {{'PP.P64' | translate}}</div><br><span id='ourCon'></span>
<br>
<div class='blueText'>
<strong>{{'PP.P65' | translate}}</strong>
</div>
<br/>
<div class='innerText'>
    {{'PP.P66' | translate}}
<br><br>
</div>
<div class='innerText'>
<a>www.spring2885.org/contact</a>
</div>
<div class='innerText'>
<br/>
    {{'PP.P67' | translate}}
</div></div>

		    </div>

	</div>
	<div class="row">
	&nbsp;
	</div>

</div>