<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row well well-sm">
                <h1>{{'USR_AGREEMENT.HEADING' | translate}}</h1>
                <p>{{'USR_AGREEMENT.P1' | translate}}</p>
                <p>
                    {{'USR_AGREEMENT.P2' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P3' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P4' | translate}}
                </p>
                <p><strong>{{'ACCOUNTS' | translate}}</strong></p>
                <p>
                    {{'USR_AGREEMENT.P5' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P6' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P7' | translate}}
                </p>
                <p><strong>{{'USR_AGREEMENT.P8' | translate}}</strong></p>
                <p>
                    {{'USR_AGREEMENT.P9' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P10' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P11' | translate}}
                </p>
                <p><strong>{{'USR_AGREEMENT.P12' | translate}}</strong></p>
                <p>
                    {{'USR_AGREEMENT.P13' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P14' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P15' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P16' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P17' | translate}}
                </p>
                <p><strong>{{'USR_AGREEMENT.P18' | translate}}</strong></p>
                <p>
                    {{'USR_AGREEMENT.P19' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P20' | translate}}
                </p>
                <p><strong>{{'USR_AGREEMENT.P21' | translate}}</strong></p>
                <p>
                    {{'USR_AGREEMENT.P22' | translate}}
                </p>
                <p>
                    {{'USR_AGREEMENT.P23' | translate}}
                </p>
                <p><strong>{{'CONTACT_US' | translate}}</strong></p>
                <p>If you have any questions about these Terms, please contact us.</p>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>